.footer {
  background-color: $pink;
  background-image: image-url("noise.png");
  padding: ($base-spacing * 2) $base-spacing;

  .nav a {
    color: $white;
  }

  &:nth-of-type(2) {
    background-color: darken($pink, 2%);
  }

  .logo {
    height: 12rem;
  }
}

.weirdo-footer {
  background-color: shade($pink, 5%);
  height: 6rem;
  overflow: hidden;
  position: relative;
}

.weirdo {
  @include position(absolute, 25% 0 null);
  margin: auto;
  width: 4.5rem;
}
