-# .horizon{ "data-bottom-top" => "opacity: 1; transform: translateY(0rem)", "data--100-top" => "opacity: 0; transform: translateY(-6rem)", "data-anchor-target" => "#main" }
.keep-ruby
.horizon
  .grid
    .vertical
      - (1..20).each do
        .line
    .horizontal
      - (1..40).each do
        .line
