#{$all-button-inputs},
button,
.btn {
  @include appearance(none);
  @include vertical-rhythm(-1);
  -webkit-font-smoothing: antialiased;
  background-color: $pink;
  border-radius: $base-border-radius;
  border: none;
  color: $white;
  cursor: pointer;
  display: inline-block;
  font-family: $base-font-family;
  font-size: $base-font-size;
  font-weight: $normal-weight;
  letter-spacing: 0.05em;
  padding: $small-spacing $base-spacing;
  text-decoration: none;
  text-transform: uppercase;
  transition: background-color 0.5s;
  user-select: none;
  vertical-align: middle;
  white-space: nowrap;

  &:hover,
  &:focus {
    background-color: shade($pink, 10%);
    color: $white;
  }

  &:disabled {
    cursor: not-allowed;
    opacity: 0.5;
  }
}
