---
title: "Venue & Lodging • Keep Ruby Weird 2015 • Austin, Texas"
---

article
  header.article-header Venue
  .copy
    markdown:
      The Conference venue is the historically weird Alamo Ritz Drafthouse, located in the heart of downtown. Each theater seat has its own table. During the conference you'll enjoy some weird talks as you're served gourmet food from the comfort of your oversized seat. All in front of one of the largest screens we've ever seen.

      After the conference you'll have plenty to see and do as the venue is located in the middle of world famous Sixth Street. Made up of dozens of bars and venues, you're guaranteed to hear a wide variety of live music as you walk down the street which is closed for pedestrian traffic for weekends. Known as "The music capital of the world" Austin is where musicians come to be discovered and discover one another.

      <strong>Alamo Drafthouse Ritz</strong><br>
      320 E 6th St<br>
      Austin, TX 78701

article#lodging
  header.article-header Lodging
  .copy
    markdown:
      There is no official conference hotel. Get weird with it. We recommend finding a place to stay within walking or biking distance of the venue. If you don't have a bike check out Austin's B-Cycle program. There are also plenty of nearby places on AirBNB. We recommend arriving the night before, October 23rd, and planning to stay and enjoy the Saturday after, meaning you would leave Sunday October 25th.

      Close locations booked or out of your budget? Not to worry. Stay with a friend, find a venue along the Austin Metro Rail. Though be aware last train on Friday nights leaves downtown at 12:30 AM. If you're staying in a nearby residential area then Car2Go is an option, must sign up and receive a membership card in the mail before you need to use it.

      We want you to be safe and have fun. There will be alcohol at Keep Ruby Weird. If you plan on drinking, don't plan on driving. The ATX safer streets site has plenty of options to get you home safe, also Uber and Lyft may be operating in the area.

article
  header.article-header _why Austin?
  .copy
    markdown:
      Austin is our home and it's at the heart of how we live and write software. Known for it's eclectic attitude, the city maintains the unofficial motto: "Keep Austin Weird'. The people are friendly, accepting of artistic and individual expression, lending the city a vibrant and progressive energy. We believe that as developers we grow stronger through play and exploration of our craft. In Austin, this belief is strengthened and supported as we see companies care as much about personal growth as their bottom lines. We wanted to throw a conference that feels like Austin, while taking the opportunity to show off what it is that makes our city great.
